body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #fff;
	background: url('../img/background.png') no-repeat center top / cover;
	background-color: #1B1B1B;

}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	letter-spacing: 0.175em;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 36px;
	text-transform: uppercase;
}

h4 {
	font-size: 35px;
	font-weight: 400;
	letter-spacing: 0.175em;
}

h5 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

h6 {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.175em;
}

a {
	text-decoration: none;
}



.about {
	margin-top: 240px	
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1170px;
	margin: 0 auto; /*позиционированние по центру*/
}

header a {
	color: #fff;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

.menu li a {
	transition: all 0.3s ease;
}

.menu li a:hover {
	display: inline;
	border-bottom: 1px solid #fff;
}

.menu li {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.21em;
}

.nav {
	padding-top: 60px;
	padding-left: 132px;
}

.offer{
	letter-spacing: 0.065em;
	margin-top: 94px;
	text-align: right;
}

p {
	font-size: 120px;
}

.stu {
	font-size: 50px;
	letter-spacing: 0.065em;
	margin-top: -30px;
}

.logo {
	
	display: flex;
	justify-content: center;
	margin-top: -350px;
}

.more {
	display: flex;
	justify-content: center;
	font-size: 29px;
	letter-spacing: 0.16em;
	font-weight: 300;
	margin-top: -220px;
}

.btn {
	padding: 14px 20px;
	border: 1px;
	border-radius: 95px;
	background: #646779;
}

.array {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}


.description {
	display: flex;
	justify-content: space-between;
	margin-top: 129px;
}

.description h4{
	padding-left: 102px;
}

.fai{
	margin-left: 432px;
}

.skills h5{
	display: flex;
	justify-content: center;
	margin-top: 81px;
}

.describe h6{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 67px;
	margin-left: 700px;

}

.man {
	display: flex;
	margin-left: -150px;
	margin-top: -400px;
}

.dop h6{
	margin-left: 800px;
	margin-top: -170px;
}

footer{
	padding-top: 240px
}

.contacts {
	display: flex;
	justify-content: space-between;
}

.contacts h6{
	margin-top: 100px;
	text-align:center;
	line-height: 2em;
}

.LGTU {
	display: flex;
	justify-content: space-between;
	margin-top: -20px;
}




@media screen and (max-width: 1125px){
	div {
		width: 1000px;
	}

}




