body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #fff;
	background: url('../img/background.png') no-repeat center top / cover;
	background-color: #1B1B1B;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	letter-spacing: 0.175em;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 36px;
	text-transform: uppercase;
}

h4 {
	font-size: 35px;
	font-weight: 400;
	letter-spacing: 0.175em;
}

h5 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

h6 {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.175em;
}

a {
	text-decoration: none;
}



.about {
	margin-top: 240px	
}

p {
	margin: 0;
}

ul, li {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.container {
	width: 1200px;
	margin: 0 auto; /*позиционированние по центру*/
	padding: 0px 15px;
}


/*
@media screen and (max-width: 1170px) {
	.container {
		max-width: 1100px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		max-width: 1100px;
	}
	.header {
		margin-left: 100px;
	}
	.describe {
		margin-left: 100px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 800px;
	}
	.header {
		margin-left: 300px;
	}
	.description {
		margin-left: 300px;
	}
	.skills h5 {
		margin-left: 400px;
	}
	.describe {
		margin-left: 100px;
	}
	.contacts {
		margin-left: 180px;
	}
	.contacts h6 {
		margin-right: 50px;
	}
}

@media screen and (max-width: 425px) {
	.container {
		max-width: 600px;
	}
	.menu li a{
		font-size: 15px;
	}
	.logo {
		margin-left: 400px;
	}
	.more {
		width: 400px;
		margin-left: 300px;
	}
	a {
		font-size: 20px;
		text-align: center;
	}
	.array {
		margin-left: 450px;
	}
	.contacts h6 {
		font-size: 15px;
		display: inline;
	}
}
*/


header a {
	color: #fff;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

.menu li a {
	transition: all 0.3s ease;
}

.menu li a:hover {
	display: inline;
	border-bottom: 1px solid #fff;
}

.menu li {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.21em;
}

.nav {
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
}

.offer{
	letter-spacing: 0.065em;
	margin-top: 94px;
	text-align: right;
	margin-right: 100px;
}

p {
	font-size: 120px;
}

.stu {
	font-size: 50px;
	letter-spacing: 0.065em;
	margin-top: -30px;
}

.logo {
	
	display: flex;
	justify-content: center;
	margin-top: -330px;
}

.more {
	display: flex;
	justify-content: center;
	font-size: 29px;
	letter-spacing: 0.16em;
	font-weight: 300;
	margin-top: -230px;
}

.btn {
	padding: 14px 20px;
	border: 1px;
	border-radius: 95px;
	background: #646779;
}

.btn:hover {
	background: #7E6058;
    color: #000;
}

.array {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}


.description {
	display: flex;

	margin-top: 129px;
}

.description h4{
	padding-left: 102px;
}

.fai{
	margin-left: 432px;
}

.skills h5{
	display: flex;
	justify-content: center;
	margin-top: 81px;
}

.describe h6{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 67px;
	margin-left: 700px;

}

.man {
	display: flex;
	margin-left: -90px;
	margin-top: -400px;
}

.dop h6{
	margin-left: 800px;
	margin-top: -170px;
}

footer{
	padding-top: 240px
}

.contacts {
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
}

.contacts h6{
	margin-top: 50px;
	text-align:center;
	line-height: 2em;
}

@media screen and (max-width: 426px) {
	.menu li {
	font-size: 21px;

	}
	.man {
		display: flex;
		justify-content: center;
		margin-top: 0;
		margin-left: 0;
	}
	.dop h6{
		display: flex;
		justify-content: center;
		margin-left: 0;
		margin-top: 20px;

	}
	.describe h6{
		margin-left: 0;
		margin-top: 70px;

	}
}
